.footer {
  color: $text-color-white;

  & a {
    color: $text-color-white;
  }

  &-top {
    padding: 60px 0 80px 0;
    background: $brand-color-orange;

    @include media($media-mid) {
      padding: 60px 0;
    }

    @include media($media-sm) {
      padding: 30px 0;
    }

    & .title {
      margin-bottom: 60px;
      color: $text-color-white;
    }

    & form {
      & button {
        margin-left: auto;
        margin-top: 50px;
        background: $text-color-white;
        color: $text-color;
        border-color: $text-color-white;
      }
    }

    &__contacts {
      & li {
        & + li {
          margin-top: 30px;
        }

        & a {
          display: flex;
          align-items: center;

          & svg {
            margin-right: 35px;
          }
        }
      }

      &-social {
        & p {
          margin-bottom: 20px;
        }

        & ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          & li {
            & + li {
              margin: 0 0 0 30px;
            }

            & a {
              & svg {
                margin: 0;
              }
            }

          }
        }
      }

      @include media($media-mid) {
        font-size: 18px;
      }
    }
  }

  &-bottom {
    height: 50px;
    background: $brand-color-blue;

    & .container {
      height: 100%;
      @include flex-center;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    &-top {
      & .title {
        margin-bottom: 15px;
      }

      & form {
        & button {
          max-width: 100%;
          margin: 25px 0 0 0;
        }
      }

      &__contacts {
        @include flex-center;
        flex-direction: column;
        padding: 30px 0 0 0;
        text-align: center;

        & li {
          & a {
            & svg {
              max-width: 28px;
              margin-right: 10px;
            }
          }
        }

        &-social {
          & p {
            margin-bottom: 15px;
          }

          & li {
            & a {
              & svg {
                max-width: 50px;
              }
            }
          }
        }
      }
    }
    &-bottom{
      height: 35px;
    }
  }
}