.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 85px;
  background: $brand-color-blue;
  display: flex;
  align-items: center;

  & .container {
    height: 100%;
  }

  & .button {
    &:hover {
      color: $text-color-white;
    }
  }

  &-block {
    height: inherit;
    display: flex;
    align-items: center;

    &__menu {
      width: 100%;
      height: 100%;
      display: flex;
    }
  }

  &-logo {
    display: flex;
    max-width: 135px;
    width: 100%;
    margin-right: 50px;
  }

  &-menu {
    @include flex-between;

    & li {
      & + li {
        margin-left: 40px;
      }

      & a {
        font-weight: bold;
        font-size: 20px;
        color: $text-color-white;
        transition: .3s;

        &:hover {
          color: $brand-color-orange;
        }
      }
    }
  }

  &-button {
    height: 100%;
    margin-left: auto;

    &__menu {
      height: 30px;
      display: none;
      align-items: center;
      cursor: pointer;

      & span,
      & span::before,
      & span::after {
        display: block;
        width: 40px;
        height: 2px;
        background: $text-color-white;
        transition: .1s;
      }

      & span {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: - 10px;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: - 10px;
        }
      }

      &.active {
        & span {
          transform: rotate(45deg);

          &::before {
            content: unset;
          }

          &::after {
            bottom: 0;
            transform-origin: center;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .header {
    &-menu {
      & li {
        & + li {
          margin-left: 15px;
        }

        & a {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    height: 70px;

    &-block {
      justify-content: space-between;
    }

    &-menu {
      flex-direction: column;
      margin-bottom: 60px;

      & li {
        & + li {
          margin: 30px 0 0 0;
        }

        & a {
          font-size: 24px;
        }
      }
    }

    &-button {
      margin: 0 auto;
      height: 90px;

      &__menu{
        display: flex;
      }
    }

    &-block {
      &__menu {
        max-width: 500px;
        height: calc(100vh - 70px);
        position: absolute;
        top: 70px;
        padding: 25px;
        flex-direction: column;
        justify-content: center;
        background: $brand-color-blue;
        right: -100%;
        transition: .3s;

        &.active {
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header-block__menu {
    max-width: 100%;
  }
}
