.modal{
	z-index: 100;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 1200px;
	width: 100%;
	background: $text-color-white;

	& .container{
		display: flex;
		align-items: start;
	}
}

//.modal {
//	z-index: 200;s
//	position: fixed;
//	top: 0;
//	bottom: 0;
//	left: 0;
//	right: 0;
//	opacity: 0;
//	//visibility: hidden;
//	transition: 0.8s;
//
//	&.active {
//		opacity: 1;
//		visibility: visible;
//	}
//
//	&-bg{
//		position: absolute;
//		top: 0;
//		bottom: 0;
//		left: 0;
//		right: 0;
//		background: linear-gradient(0deg, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0.3));
//		transition: 0.8s;
//	}
//
//	&-block {
//		z-index: 1;
//		position: relative;
//		max-width: 500px;
//		padding: 60px 40px;
//		text-align: center;
//		background: $text-color;
//
//		& .title {
//			margin-bottom: 20px;
//			color: white;
//		}
//
//		& .subtitle {
//			margin-bottom: 40px;
//			text-transform: none;
//		}
//
//		& .form-item {
//			flex-direction: column;
//
//			& div {
//				max-width: 350px;
//				width: 100%;
//				margin: 0 auto;
//
//				&+div {
//					margin-top: 20px;
//				}
//
//				& input {
//					width: 100%;
//				}
//			}
//		}
//
//		&__close {
//			position: absolute;
//			top: 20px;
//			right: 20px;
//			font-size: 32px;
//			color: white;
//			cursor: pointer;
//		}
//	}
//}