@font-face {
  font-family: 'Intro Book';
  src: url('../fonts/Intro-Book.otf') format('truetype');
}
@font-face {
  font-family: 'Intro Regular';
  src: url('../fonts/Intro-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Intro Bold';
  src: url('../fonts/Intro-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'Intro Black';
  src: url('../fonts/Intro-Black.otf') format('truetype');
}

@mixin light {
  font-family: 'PT-Light', sans-serif;
}

@mixin reg {
  font-family: 'Intro Book', sans-serif;
}

@mixin ff-title {
  font-family: 'Intro Black', sans-serif;
}

@mixin med {
  font-family: 'PT-Medium', sans-serif;
}

@mixin bold {
  font-family: 'PT-Bold', sans-serif;
}