* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: $fz-main;
  line-height: 1.5;
  color: $text-color;
  @include reg;

  @include media($media-lg) {
    font-size: $fz-main - 4;
  }

  @include media($media-mid) {
    font-size: $fz-main - 8;
  }

  @include media($media-sm) {
    font-size: $fz-main - 12;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: $text-color
}

img {
  max-width: 100%;
}

.control {
  & + .control {
    margin-top: 30px;
    @include media($media-sm) {
      margin-top: 15px;
    }
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-size: $fz-label;
    color: $text-color-white;

    @include media($media-sm) {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: 18px 20px;
    font-size: $fz-main;
    border: 2px solid $brand-color-gray;
    color: $text-color-white;
    background: transparent;
    outline: none;
    @include reg;

    &::placeholder {
      opacity: 0.5;
      color: $text-color-white;
    }

    @include media($media-sm) {
      font-size: 12px;
    }
  }

  textarea {
    resize: none;
  }
}

.button {
  @include flex-center;
  max-width: 290px;
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 2px solid $brand-color-orange;
  font-size: $fz-btn;
  text-transform: uppercase;
  color: $text-color-white;
  background: $brand-color-orange;
  transition: .3s;
  outline: none;
  cursor: pointer;
  @include reg;

  &:hover {
    background: transparent;
    color: $brand-color-blue;
  }

  @include media($media-mid) {
    height: 45px;
    font-size: $fz-btn - 14;
  }
}

.wrapper {
  padding-top: 85px;
}

.section {
  padding: 60px 0;
}

.title {
  font-weight: bold;
  @include ff-title;
  color: $brand-color-blue;
}

h1 {
  font-size: $fz-h1;
  line-height: 1.1;
  @include media($media-lg) {
    font-size: $fz-h1 - 15;
  }
  @include media($media-mid) {
    font-size: $fz-h1 - 35;
  }
}

h2 {
  font-size: $fz-h2;
  @include media($media-mid) {
    font-size: $fz-h2 - 10;
  }
  @include media($media-sm) {
    font-size: $fz-h2 - 25;
  }
}

h3 {
  font-size: $fz-h3;
  @include media($media-mid) {
    font-size: $fz-h3 - 10;
  }
}

.subtitle {
  display: block;
  margin-top: 15px;
  font-size: $fz-main;

  @include media($media-mid) {
    font-size: $fz-main - 10;
  }
  @include media($media-sm) {
    margin-top: 5px;
  }
}

.yellow {
  color: $brand-color-orange
}

.price {
  font-size: 70px;
  line-height: 0.9;
  letter-spacing: 3px;
  color: $red;

  &-small {
    text-decoration: line-through;
  }

  @include media($media-mid) {
    font-size: 50px;
    line-height: 1.2;

    &-small {
      line-height: 1.2;
      font-size: 35px;
    }
  }
}

.slick {
  &-slide {
    outline: none !important;
  }
}

.arrow {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  @include flex-center;
  background: $text-color-white;
  cursor: pointer;

  &-left {
    left: 0;
  }

  &-right {
    right: 0;
  }

  @include media($media-mid) {
    width: 30px;
    height: 30px;
    & svg {
      height: 15px;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1450px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    padding-top: 70px;
  }
}