//Color
$text-color: #333333;
$text-color-white: #ffffff;
$brand-color-blue: #1A2937;
$brand-color-orange: #F3AE34;
$brand-color-gray: #f7f7f7;
$red: #FF2F2F;


$text-gray: #A5A5A5;
$gray: #F6F6F6;
$progress-gray: #B4B4B4;
$gray_e5: #E5E5E5;
$yellow: #000000;

//Fonts
$fz-h1: 65px;
$fz-h2: 45px;
$fz-h3: 30px;
$fz-main: 24px;
$fz-btn: 30px;
$fz-label: 16px;


$media-lg: 1200px;
$media-mid: 992px;
$media-sm: 768px;
$media-xs: 576px;

/* Добавьте в файл с сеткой или в иной файл */

// Media query mixin
@mixin media($media) {
  @media only screen and (max-width: $media) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin zero {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}