.about {
  padding: 120px 0;

  & .row {
    align-items: flex-end;
  }

  &-left {
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-right {
    & .title {
      margin-bottom: 25px;
    }

    &__text {
      margin-bottom: 50px;
    }
  }

  @include media($media-mid) {
    padding: 60px 0;

    &-right {
      & .title {
        margin-bottom: 15px;
      }

      &__text {
        margin-bottom: 30px;
      }

      & .button {
        max-width: 100%;
      }
    }
  }

  @include media($media-sm) {
    padding: 30px 0;
  }
}