.advantages {
  position: relative;
  padding: 120px 0 0 0;
  color: $text-color-white;
  background: $brand-color-blue;
  overflow: hidden;

  @include media($media-lg) {
    padding: 120px 0;
  }
  @include media($media-mid) {
    padding: 60px 0;
  }
  @include media($media-sm) {
    padding: 30px 0;
  }

  & .title {
    text-align: center;
    margin-bottom: 20px;
    color: $text-color-white;
  }

  & .subtitle {
    margin: 0 0 30px 0;
    text-align: center;
  }

  &-block {
    & .row {
      position: relative;
    }

    &__col-1, &__col-2 {
      padding: 55px 15px 120px 15px;

      @include media($media-lg) {
        padding: 0 15px;
      }
    }

    &__col-2 {
      & .advantages {
        &-block {
          &__item {
            margin-top: 40px;
          }
        }
      }
    }

    &__col-1 {
      @include media($media-lg) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 40px;

        & .advantages {
          &-block {
            &__item {
              & + .advantages-block__item {
                margin: 0;
              }
            }
          }
        }
      }
    }

    &__col-bg {
      position: absolute;
      left: 49.5%;
      transform: translateX(-50%);

      @include media($media-lg) {
        width: unset;
        left: unset;
        bottom: 15%;
        right: -35%;
        transform: unset;
        & img {
          max-height: 770px;
        }
      }

      @include media($media-mid) {
        bottom: 10%;
        right: -40%;
      }

      @include media($media-sm) {
        bottom: 5%;
        right: -50%;
      }

      @include media($media-xs) {
        right: -45%;
      }
    }

    &__line {
      position: absolute;
      display: flex;
      align-items: start;

      @include media($media-lg) {
        display: none;
      }

      &.line-1 {
        top: 100px;
      }

      &.line-2 {
        top: 395px;
      }

      &.line-3 {
        top: 690px;
      }

      &.line-4 {
        top: 120px;
      }

      &.line-5 {
        top: 360px;
      }

      &.line-6 {
        top: 630px;
      }
    }

    &__item {
      & + .advantages-block__item {
        margin-top: 40px;
      }

      & img {
        width: 100px;
        height: 100px;
        margin-bottom: 15px;
      }

      & h3 {
        margin-bottom: 10px;
      }

      @include media($media-sm) {
        max-width: 160px;

        & img {
          width: 65px;
          height: 65px;
          margin-bottom: 25px;
        }

        & h3 {
          font-size: 14px;
          margin-bottom: 5px;
        }

      }
    }
  }
}