.banner {
  min-height: calc(100vh - 85px);

  .row {
    @include media($media-mid) {
      flex-direction: column-reverse;
    }
  }

  &-left {
    padding-top: 115px;

    @include media($media-mid) {
      padding-top: 15px;
    }

    & .title {
      margin-bottom: 30px;
    }

    & .subtitle {
      margin-bottom: 70px;
      font-size: 35px;

      @include media($media-lg) {
        font-size: 24px;
        margin-bottom: 40px;
      }

      @include media($media-mid) {
        font-size: 18px;
      }
    }

    & ul {
      margin-bottom: 165px;

      & li {
        margin-left: 22px;
        padding-left: 20px;
        list-style-image: url('../img/ellipse.svg');
      }

      @include media($media-lg) {
        margin-bottom: 40px;

        & li {
          padding-left: 10px;
          font-size: 18px;
        }
      }

      @include media($media-sm) {
        & li {
          font-size: 14px;
          & + li {
            margin-top: 25px;
          }
        }
      }
    }

    &__block {
      display: flex;
      align-items: start;

      &-price {
        display: flex;
        align-items: start;
        margin-left: 25px;
      }

      @include media($media-lg) {
        flex-direction: column-reverse;

        & .button {
          max-width: 100%;
          margin: 0;
        }

        &-price{
          margin: 0 0 20px 0;
        }
      }
    }
  }

  &-right {
    & img {
      width: 100%;
      height: 100%;
      max-height: 695px;
      object-fit: cover;
    }

    @include media($media-mid) {
      height: 350px;

      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
      }
    }
  }
}