.faq {
  padding: 60px 0 120px 0;

  @include media($media-mid) {
    padding: 30px 0 60px 0;
  }
  @include media($media-sm) {
    padding: 15px 0 30px 0;
  }

  & .title {
    margin-bottom: 35px;
  }

  &-block {
    &__item {
      & + .faq-block__item {
        margin-top: 10px;

        @include media($media-sm) {
          margin-top: 5px;
        }
      }

      &-head {
        height: 80px;
        padding: 0 20px;
        font-size: 35px;
        @include flex-between;
        background: $brand-color-gray;
        cursor: pointer;

        & svg {
          transition: .3s;
        }

        &.active {
          & svg {
            transform: rotate(180deg);
          }
        }

        @include media($media-lg) {
          font-size: 30px;
        }
        @include media($media-mid) {
          height: 50px;
          font-size: 18px;

          & svg {
            width: 18px;
          }
        }
      }

      &-body {
        display: none;
        padding: 20px;
      }
    }
  }
}