.for {
  position: relative;
  padding: 120px 0 185px 0;
  color: $text-color-white;
  background: $brand-color-orange;

  &::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 49.5vw solid transparent;
    border-right: 49.5vw solid transparent;
    border-bottom: 185px solid $brand-color-gray;

    @include media($media-mid) {
      border-bottom: 60px solid $brand-color-gray;
    }
    @include media($media-sm) {
      border-bottom: 30px solid $brand-color-gray;
    }
  }

  & .title {
    color: $text-color-white;
  }

  &-slider {
    margin-bottom: 120px;

    @include media($media-mid) {
      margin-bottom: 30px;
    }

    & .title {
      margin-bottom: 5px;
    }

    & .subtitle {
      margin: 0;
    }

    &__block {
      position: relative;
    }

    &__item {
      height: 370px;
      position: relative;
      border: 1px solid;
      border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

      &-img {
        height: inherit;
        position: relative;
        display: flex;

        &::before {
          content: '';
          z-index: 1;
          position: absolute;
          @include zero;
          background: linear-gradient(0deg, rgba(26, 41, 55, 0.5), rgba(26, 41, 55, 0.5))
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-block {
        z-index: 2;
        width: 100%;
        padding: 15px 75px;
        position: absolute;
        @include zero;
        @include flex-center;

        &__content {
          max-width: 1180px;

          & div {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      @include media($media-mid) {
        height: 260px;
        max-width: 1024px;

        &-block {
          padding: 15px 55px;

          &__content {
            & h2 {
              line-height: 1;
            }

            & div {
              flex-direction: column;

              & .subtitle {
                margin-bottom: 5px;
                font-size: 18px;
                line-height: 1.2;
              }

              & .button {
                max-width: 100%
              }
            }
          }
        }
      }
    }
  }

  &-block {
    text-align: center;

    & .subtitle {
      margin-bottom: 80px;
    }

    &__item {
      &-img {
        max-width: 200px;
        margin: 0 auto 40px auto;
        display: flex;
        border-radius: 50%;
        overflow: hidden;


        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      & h3 {
        margin-bottom: 25px;
      }
    }

    @include media($media-mid) {
      & .subtitle {
        margin-bottom: 30px;
      }

      &__col {
        margin-bottom: 30px;
      }

      &__item {
        &-img{
          max-width: 130px;
          margin: 0 auto 20px auto;
        }

        & h3{
          margin-bottom: 5px;
        }
      }
    }
  }

  @include media($media-mid) {
    padding: 60px 0;
  }
  @include media($media-sm) {
    padding: 30px 0;
  }
}