.product {
  padding: 120px 0;

  &-left {
    &__img {
      display: flex;
      margin-bottom: 25px;
      border: 1px solid rgba($brand-color-blue, 0.05);

      & img {
        width: 100%;
        height: 100%;
        max-height: 488px;
        object-fit: cover;
      }
    }

    &__block {
      & .subtitle {
        font-size: 35px;
        line-height: 1.1;
        @include media($media-lg) {
          font-size: 24px;
          line-height: 1.2;
        }
      }
    }
  }

  &-right {
    &__block {
      display: flex;
      flex-direction: column-reverse;
      margin: 50px 0 60px 0;

      &-price {
        display: flex;
        align-items: start;
        margin-bottom: 20px;

        & .price {
          line-height: 1.2;
        }
      }
    }

    & h3 {
      margin-bottom: 25px;
    }
  }

  @include media($media-mid) {
    padding: 60px 0;

    &-left {
      &__img {
        margin-bottom: 30px;
      }

      &__block {
        display: none;
      }
    }

    &-right {
      &__block {
        margin: 30px 0;

        & .button {
          max-width: 100%;
        }
      }

      & h3 {
        margin-bottom: 15px;
      }
    }
  }

  @include media($media-sm) {
    padding: 30px 0;
  }
}