.result {
  padding: 10px 0 120px 0;
  background: $brand-color-gray;
  text-align: center;

  @include media($media-mid) {
    padding: 30px 0 60px 0;
  }
  @include media($media-sm) {
    padding: 30px 0;
  }

  &-buttons {
    margin: 100px 0 70px 0;
    @include flex-center;
    text-transform: uppercase;

    & h3 {
      font-weight: bold;
      line-height: 1.2;
      padding: 0 10px 10px 10px;
      border-bottom: 1px solid $brand-color-blue;
      cursor: pointer;
      opacity: 0.5;
      transition: .3s;

      &.active {
        opacity: 1;
      }

      & + h3 {
        margin-left: 75px;
      }
    }

    @include media($media-mid) {
      margin: 40px 0 30px 0;
      & h3 {
        & + h3 {
          margin-left: 15px;
        }
      }
    }

    @include media($media-sm) {
      & h3 {
        font-size: 14px;
      }
    }
  }

  &-block {
    visibility: hidden;
    opacity: 0;
    transition: .45s;

    @include media($media-mid) {
      & .col-lg-6 {
        & + .col-lg-6 {
          margin-top: 30px;
        }
      }
    }

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &__left {
      height: 100%;
      display: flex;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__right {
      text-align: left;

      & h3 {
        line-height: 1;
        margin-bottom: 30px;
      }

      & p {
        margin-bottom: 30px;
      }

      @include media($media-mid) {
        & h3 {
          margin-bottom: 15px;
        }
        & .button {
          max-width: 100%;
        }
      }
    }
  }
}