.reviews {
  padding: 60px 0;

  @include media($media-mid) {
    padding: 30px 0;
  }

  @include media($media-sm) {
    padding: 15px 0;
  }

  & .title {
    text-align: center;
    margin-bottom: 35px;
  }

  &-slider {
    &__block {
      position: relative;
    }

    &__item {
      height: 800px;

      @include media($media-mid) {
        height: 500px;
      }

      @include media($media-sm) {
        height: 200px;
      }

      &-img {
        display: flex;
        width: 100%;
        height: 100%;
      }

      & img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
  }
}