.text {
  padding-top: 120px;
  text-align: center;

  @include media($media-lg) {
    padding-top: 60px;
  }
  @include media($media-mid) {
    padding-top: 30px;
    & .title{
      font-size: $fz-h3 - 16;
    }
  }
}