.use {
  padding: 120px 0 60px 0;

  @include media($media-mid) {
    padding: 60px 0 30px 0;
  }
  @include media($media-sm) {
    padding: 30px 0 15px 0;
  }

  & .title {
    text-align: center;
    margin-bottom: 50px;

    @include media($media-sm) {
      margin-bottom: 15px;
    }
  }

  &-block {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 100px;

    & li {
      display: flex;
      align-items: center;


      & img {
        width: 70px;
        height: 70px;
        margin-right: 20px;
      }
    }

    @include media($media-mid) {
      margin-bottom: 30px;
      row-gap: 15px;
    }

    @include media($media-sm) {
      grid-template-columns: 1fr;

      & li {
        & img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  & .button {
    margin: 0 auto;

    @include media($media-mid) {
      max-width: 100%;
    }
  }
}